@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 300%;
  display: flex;
  animation: slideRight 25s linear infinite;
}

.slide {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* starts from bg2 (first image) */
@keyframes slideRight {
  0%   { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}
